*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
html,body{max-width: 100vw;}

a{
    color: #262626;
    text-decoration: none;
    text-transform: capitalize;
}
ul{
    list-style: none;
}
.icon{
    font-size: 3rem;
    display: none;
    cursor: pointer;
}


.main_nav{
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;

   
}
.main_nav ul{
display: flex;

}
.main_nav .logo{
    width: 110px;
}
.main_nav ul li{
    padding: 0 10px;
    
}
.main_menu li a:hover{
    border-bottom: 2px solid #262626;
}
.main_nav ul.main_menu{
flex:1;
margin-left: 20px;
}
.btn{
    cursor:pointer;
    font-size: 15px;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    display: inline-block;
}

.showcase{
  
    height: 400px;
    background: url('https://i.ibb.co/zGSDGCL/slide1.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 2rem 2rem ;
}h2{
    text-transform: capitalize;
}
.showcase h2,.showcase p{
    margin-bottom: 10px;
}
.showcase .btn{
    margin-top: 20px;
}



.home_cards img,.home_cards2 img{
    width: 100%;
    margin-bottom: 20px;
}
.home_cards h3,.home_cards2 h3{
    margin-bottom: 5px;
}
.home_cards a,.home_cards2 a{
    display: inline-block;
    color: #0067b8;
    padding-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.content{
  background: url('https://i.ibb.co/tBJGPD9/xbox.png') no-repeat center center/cover;
    height: 300px;
    margin-top: 2rem;
    padding: 50px 25px;
}
.content h2,.content p{
    margin-bottom: 10px;
}
.content a{
    display: inline-block;
    background: #262626;
    color: #fff;
    padding:13px 13px;
    font-weight: bold;
    margin-top: 10px;
}
.home_cards2{
    margin-top: 20px;
  
}


.footer{
    margin-top: 20px;
  
   
}

.content1{
color: #fff;
 background: url('https://i.ibb.co/72cgtsz/carbon.jpg') no-repeat center center/cover;;
padding:80px 30px;

}
.content1 .text{
max-width: 550px;

}
.content1 a{
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    padding: 10px 15px;
    color: #262626;
    background: #f3f0f0;
}

.content1 h2{
    margin-bottom: 20px;
}
.content1 p{
    margin-bottom: 20px;
}
.follow{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.follow a{
    margin-top: -5px;
 
}
.follow p{
    color: white;
}
.footer1{
  
  
    margin-top: 20px;
padding: 30px 0;
}
.footer_content{
    padding: 0 2rem;
      background: #f2f2f2;
}

.footer_content h3{
    font-size: 14px;
color: #616161;

margin-bottom: 10px;

width: 100%;
text-transform: capitalize;
}
.footer_content ul{
    font-size: 12px;
    text-transform: capitalize;
    padding-left: 0;
}
.footer_content div ul li{
   margin-bottom: 10px;
}
@media(max-width:550px){
    .home_cards,.home_cards2{
        grid-template-columns: repeat(2,1fr);
    }
    .main_menu{
      display: none !important;
    }

  
}
@media(max-width:786px){

     .main_menu{
      display: none !important;
    }
    .icon{
        display: block;
    }
}